<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task2EmanZiad"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName="com.example.task2eman_ziad.MainActivity" >>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.task2eman_ziad.MainActivity" />
        </activity>
        <activity android:name=".hotel_Activity"/>
<!--        <activity android:name=".restuarant_Activity"/>-->
<!--&lt;!&ndash;        <activity android:name=".tourist_Activity"/>&ndash;&gt;        still to be done !!!! -->
    </application>

</manifest>